body {
    scroll-behavior: visible;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
    color: black;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    display: none;
}

h3,
h4,
h5 {
    margin: 0;

}

p,
li {
    margin: 0;
    letter-spacing: 0.02rem;
    line-height: 1.2rem;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px;
    min-width: 330px;
    overflow: hidden;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0px;
    min-width: 330px;
    overflow: hidden;
}



/*-------------- Landing Page ---------------*/

section.landing-page__logo {
    display: flex;
    justify-self: center;
    align-items: center;
    display: flex;
    padding-top: 150px;
}


/*------------- About / Contact --------------*/

.about__page {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-items: center;
}

.about__name {
    padding-top: 15px;
    padding-bottom: 0px;
}

.about__photo {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.ts-photo {
    max-width: 260px;
}

.about__description_pl {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: 0.8rem;
    max-width: 260px;
    padding: 0px;
    margin: 0px;
}

.about__description_eng {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: 0.8rem;
    max-width: 260px;
    padding: 10px;
    margin: 0px;
    color: darkgray;
}

.contact__info {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    justify-self: center;
}

.contact__info__item {
    font-size: 0.9rem;
    padding: 15px;
    color: black;
}

.contact__info__link {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

.contact__info__list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    list-style: none;
    color: black;
    padding: 20px 0px 20px 0px;
}

.contact__icon {
    font-size: 1.3rem;
    padding-right: 20px;
    text-decoration: none;
}

/*----------------------------------------*/
/*---------------- Menu ------------------*/

.header {
   /* position: fixed;
    top: 0;*/
    width: 100%;
    display: flex;
    background-color: white;
    }

.header__logo {
    flex-direction: column;
    justify-self: end;
    align-self: flex-start;
    margin: 0px;
    padding: 20px 50px 0px 40px
}

.logo {
    min-width: 100px;
    height: 90px;
}

.logo__subtitle {
    font-size: 0.55rem;
    text-align: center;
    padding-right: 10px;
}

.logo__link {
    padding: 0px;
    margin: 0px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-self: center;
    padding: 30px 50px 25px 50px;
    margin: 0px;
}

a.header__nav__link {
    text-decoration: none;
    display: inline-flex;
    font-size: 0.7rem;
    padding: 10px;
    color: black;
    background-color: white;
}

a.active {
    text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 10px;
    color: white;
    background-color: black;
}


.project-page {
    display: flex;
    flex-direction: column;
    width: 100%;
 }


/*-------------------------------------------*/
/*---------------- portfolio ----------------*/

.project__thumbnail {
    display: flex;
    width: 100%;
    height: auto;
}

.project__card {
    border: solid 1px lightgray;
    margin: 20px 50px 10px 50px
}

.project__thumbnail__caption {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 30px;
    background-color: whitesmoke;
    cursor: pointer;
}

.project__thumbnail__caption__first {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding-bottom: 20px;
}

.project__thumbnail__caption__second {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.project__image {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.project__link {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-decoration: none;
    color: black;
}


.project__name {
    justify-self: start;
    padding: 30px 25px 20px 20px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.project__description {
    display: flex;
    text-align: justify;
    padding: 20px 20px 10px 20px;
    font-size: 0.85rem;
}

.project__description__eng {
    display: flex;
    text-align: justify;
    padding: 20px 20px 30px 20px;
    font-size: 0.85rem;
    color: darkgrey;
}

.project-details__list {
    padding: 20px 20px 25px 20px;
    background-color: whitesmoke;
}

.project-detail__title {
    padding-top: 15px;
    font-size: 0.75rem;
    padding-bottom: 5px;
}

.project-detail {
    font-size: 0.9rem;
    padding-bottom: 5px;
}

/*-------------------------------------------*/
/*---------------- footer -------------------*/
/* 
.footer__icons {
    justify-self: start;
    align-self: center;
    font-size: 1.3rem;
    color: black;
    padding-right: 15px;
} */

.footer__nav {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.footer__nav__list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    }

.footer__nav__item {
    font-size: 0.7rem;
    padding: 5px;
}

.footer__nav__link {
    text-decoration: none;
    color: black;
}

.footer__nav__icon {
    padding-right: 5px;
}

/*------------------------------------------------*/
/*--------------- Bottom navigation --------------*/

.bottom__nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

ul.bottom__nav__list {
    padding: 10px;
    justify-content: center;
}

.bottom__nav__list__item {
    justify-self: center;
    padding-top: 15px;
    font-size: 0.9rem;
    padding: 10px;
}

.bottom__nav__list__icon {
    justify-self: center;
    padding-top: 0px;
    font-size: 0.9rem;
    padding-right: 1px;
}

.bottom__nav__link {
    text-decoration: none;
    color: black;
}

/*------------------------------------------------*/
/* ---------- Project Types Navigation -----------*/

/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    display: flex;
    /* position: relative;
    top: 50px; */
}

/* This hides the default page when another page is clicked */
:target~.default {
    display: none;
}


/*----------------- Animations ------------------*/

.fade-in--first {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.fade-in--second {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
